Q1). Write an SQL query to fetch intersecting records of two tables.

Ans) 

SELECT column1 [, column2 ]
FROM table1 [, table2 ]
[WHERE condition]

INTERSECT

SELECT column1 [, column2 ]
FROM table1 [, table2 ]
[WHERE condition]

Q2). Write an SQL query to show records from one table that another table does not have.

Ans) 

SELECT t1.name FROM table1 t1 LEFT JOIN table2 t2 ON t2.name = t1.name WHERE t2.name IS NULL